<header>
    <nav class="navbar">
        <button class="navbar-toggler" type="button"><span class="navbar-toggler-icon"></span></button>
        <a href="/" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
        <div class="navbar-collapse">
            <ul class="navbar-nav flex">
                <li><a href="" title="Home" class="active">Home</a></li>
                <li><a href="" title="Faq">Faq</a></li>
                <li><a href="" title="Contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
