<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>


<script>
    $('.navbar-toggler').on('click', function () {
        $(this).toggleClass('active');
        $('.navbar-collapse').toggleClass('show');
        $('body').toggleClass('modal-open');
    });

    var w = window.innerWidth;
    if(w > 1024){
        $('.btn-video-mobile').on('click',function (){
            $('#video-mobile').trigger('play');
            $(".modal-backdrop").remove();
        });
        $('.btn-video-pc').on('click',function (){
            $('#video-pc').trigger('play');
            $(".modal-backdrop").remove();
        });
        $('.modal .close,.modal').on('click',function (){
            $('video').trigger('pause');
        });
    }

</script>
</body>
</html>