<main>
    <div class="automatic-intro pr">
        <div class="content">
            <h1>Transcribe incoming and outgoing WhatsApp voice messages hands-free.</h1>
            <p>Elevate your WhatsApp experience with AutomaticTranscribe—where your voice notes become text effortlessly, keeping conversations flowing and connected.</p>
        </div>
        <div class="img-wrapper">
            <img src="./assets/img/img-1.png" alt="">
        </div>
    </div>
    <div class="automatic-work">
        <h2 class="title text-center">How it Works</h2>
        <div class="grid">
            <div class="item">
                <img src="./assets/img/img-2.png" alt="">
                <p>Incoming voice notes text get HANDS-FREE automatically transcribed</p>
            </div>
            <div class="item">
                <img src="./assets/img/img-3.png" alt="">
                <p>Outgoing voice notes text get HANDS-FREE automatically transcribed</p>
            </div>
        </div>
    </div>
    <div class="automatic-packages">
        <h2 class="title text-center">Packages</h2>
        <div class="grid">
            <div class="item">
                <div class="coin flex-center"><img src="./assets/img/coin.png" alt=""></div>
                <div class="price"><span class="lg">FREE</span></div>
                <h3>Free</h3>
                <ul class="check-list">
                    <li>
                        <p>Automatic transcription of incoming audio messages</p>
                        <i class="icon icon-yes"></i>
                    </li>
                    <li>
                        <p>Automatic transcription of outgoing audio messages</p>
                        <i class="icon icon-no"></i>
                    </li>
                    <li>
                        <p>Run WhatsApp session on your PC</p>
                        <i class="icon icon-yes"></i>
                    </li>
                    <li>
                        <p>Run WhatsApp session on your side</p>
                        <i class="icon icon-no"></i>
                    </li>
                    <li>
                        <p>Maximum length of audio allowed</p>
                        <span>10 <small>sec</small></span>
                    </li>
                    <li>
                        <p>Maximum number of audio's allowed</p>
                        <span>5</span>
                    </li>
                </ul>
                <a href="" title="" class="btn-choose flex-center">Choose this plan</a>
            </div>
            <div class="item">
                <div class="coin flex-center"><img src="./assets/img/coin.png" alt=""></div>
                <div class="price">
                    <span class="sm">$4.99</span>
                    <span class="sm">/<small>month</small></span>
                </div>
                <h3>Basic</h3>
                <ul class="check-list">
                    <li>
                        <p>Automatic transcription of incoming audio messages</p>
                        <i class="icon icon-yes"></i>
                    </li>
                    <li>
                        <p>Automatic transcription of outgoing audio messages</p>
                        <i class="icon icon-yes"></i>
                    </li>
                    <li>
                        <p>Run WhatsApp session on your PC</p>
                        <i class="icon icon-yes"></i>
                    </li>
                    <li>
                        <p>Run WhatsApp session on your side</p>
                        <i class="icon icon-yes"></i>
                    </li>
                    <li>
                        <p>Maximum length of audio allowed</p>
                        <span>30 <small>sec</small></span>
                    </li>
                    <li>
                        <p>Maximum number of audio's allowed</p>
                        <span>30</span>
                    </li>
                </ul>
                <a href="" title="" class="btn-choose flex-center">Choose this plan</a>
            </div>
        </div>
    </div>
    <div class="automatic-action">
        <h2 class="title text-center">See In Action</h2>
        <div class="flex-lc">
            <div class="content">
                <div class="des">Simply send or receive a voice message on WhatsApp, and our system instantly transcribes it into text, appending the HANDS-FREE transcription right beneath the audio file.</div>
                <div class="box-btn flex">
                    <button id="play-video-mobile" type="button" class="btn-video-mobile flex-lc" data-toggle="modal" data-target="#mobile-demo"><span>Mobile Demo</span><i class="icon icon-video"></i></button>
                    <button id="play-video-pc" type="button" class="btn-video-pc flex-lc" data-toggle="modal" data-target="#pc-demo"><span>Desktop Demo </span><i class="icon icon-video"></i></button>
                </div>
            </div>
            <div class="img-wrapper"><img src="./assets/img/img-4.png" alt=""></div>
        </div>
    </div>
</main>
<div class="modal modal-mobile fade" id="mobile-demo">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <div class="box-video">
                <video id="video-mobile" poster="./assets/img/poster-video-m.png" controls>
                    <source src="./assets/img/mobile-demo.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-pc fade" id="pc-demo">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <div class="box-video">
                <video id="video-pc" poster="./assets/img/poster-video-pc.png" controls>
                    <source src="./assets/img/pc-demo.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>