:root{
  --violet: #673AB7;
}
body{
  background: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
body.modal-open{overflow: hidden;}
html,body{scroll-behavior: smooth;}
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}

@mixin hover{filter: saturate(1.9); -webkit-filter: saturate(1.9);}
a{transition: .25s;}
a:hover{text-decoration: none;}

//header
header{
  width: 100%;
}
.navbar{
  height: 100%;
  display: flex; align-items: center; justify-content: flex-start;
  margin: 0 auto; padding: vw(115px) vw(150px);
  border-radius: 0; border: none; transition: .4s;
  .logo{width: vw(393px);}
  .navbar-toggler{display: none;}
}
.navbar-collapse{
  padding: 0; margin-left: auto; flex-grow: initial; flex-basis: auto;
  .close{display: none;}
}
.navbar-nav{
  margin: 0; align-items: center; flex-direction: row;
  >*+*{margin-left: vw(150px);}
  > li > a{display: block; font-size: vw(30px); font-weight: 500; color: #000; position: relative;}
  > li > a:hover{color: #01B134;}
  .active{
    color: #01B134;
    &::after{
      content: "";
      width: vw(45px); height: vw(5px);
      background: #00C134; border-radius: 9999px;
      position: absolute; left: 0; bottom: 0;
    }
  }
}
//main
main{}
.automatic-intro{
  padding: vw(60px) vw(150px);
  .content{width: 54%;}
  .img-wrapper{width: 45.5%; position: absolute; right: vw(52px); top: vw(-50px);}
  h1{margin-bottom: vw(30px); font-size: vw(48px); color: rgba(#000,.87); font-weight: 600; line-height: 1.42;}
  p{max-width: 90%; color: rgba(#000,.54); font-size: vw(35px); line-height: 2;}
}
.automatic-work{
  padding: vw(170px) vw(130px) 0;
  .title{margin-bottom: vw(80px);}
  .grid{grid-template-columns: repeat(2,1fr); grid-gap: vw(42px);}
  .item{
    padding: vw(26px); border-radius: vw(18px);
    box-shadow: 0px 0 8px #ebebeb;
  }
  p{padding: vw(24px) 0 vw(16px); font-weight: 500; font-size: vw(32px); color: #212121;}
}
.automatic-packages{
  padding: vw(115px) vw(150px) vw(85px);
  .title{margin-bottom: vw(160px);}
  .grid{grid-template-columns: repeat(2,1fr); grid-gap: vw(76px);}
  .item{
    padding: vw(58px) vw(66px);
    background: #fefefc;
    border-radius: vw(40px);
    box-shadow: 0px 4px 8px #8e8e8e;
    position: relative;
  }
  .coin{
    width: vw(94px); height: vw(80px); background: #F3F4F8; border-radius: 50%;
    img{width: vw(65px); animation: rotate 5s infinite linear;}
  }
  .price {
    width: vw(126px);
    height: vw(184px);
    display: flex; align-items: center; justify-content: center;
    flex-direction: column;
    box-sizing: content-box;
    background: #9C9D95;
    color: #fff;
    text-align: center;
    position: absolute; right: vw(112px); top: vw(-45px);
    .lg{font-size: vw(30px);}
    .sm{font-size: vw(20px);}
    small{font-size: vw(12px); white-space: normal;}
    &::after,&::before{content: ""; position: absolute;}
    &::after{
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: vw(34px) solid #fefefc;
      border-left: vw(63px) solid transparent;
      border-right: vw(63px) solid transparent;
    }
    &::before{
      width: vw(60px); height: vw(45px);
      background: url("#{$img-path}/polygon-1.svg") no-repeat 0 0/contain;
      top: 0; left: vw(-31px);
      z-index: -1;
    }
  }
  h3{margin: vw(80px) 0 vw(60px); text-align: center; font-weight: 500; font-size: vw(60px);}
  .check-list{
    max-width: vw(530px); margin: 0 auto;
    >*+*{margin-top: vw(36px);}
    li{display: flex; align-items: flex-start; justify-content: space-between;}
    p{flex: 1; padding-right: vw(15px); font-size: 16px; font-weight: 500; color: #9C9D95;}
    .icon{display: block;}
    .icon-yes{width: vw(43px); height: vw(26px); background: url("#{$img-path}/tick.svg") no-repeat 0 0/contain;}
    .icon-no{width: vw(32px); height: vw(33px); margin-right: vw(8px); background: url("#{$img-path}/not.svg") no-repeat 0 0/contain;}
    span{font-weight: 500; font-size: vw(25px);}
    span small{font-size: vw(16px); font-weight: 500;}
  }
  .btn-choose{
    width: 100%; max-width: vw(510px); height: vw(100px);
    margin: vw(90px) auto 0;
    border-radius: vw(16px);
    background: #00C841;
    color: #fff; font-weight: 600; font-size: vw(20px);
    &:hover{background: #02a637;}
  }
}
.automatic-action{
  padding: vw(15px) vw(30px) vw(140px) vw(135px);
  background: url("#{$img-path}/bg-dc.svg") no-repeat top center/cover;
  .title{margin-bottom: vw(145px);}
  .content{width: 43%; padding-top: vw(40px);}
  .img-wrapper{width: 53%; margin-left: auto;}
  .des{font-size: vw(30px); line-height: 2.05;}
  .box-btn{
    margin-top: vw(80px);
    >*+*{margin-left: vw(58px);}
    button{
      height: vw(89px); padding: 0 vw(15px);
      background: #212121;
      border-radius: vw(5px);
      font-size: vw(30px);
      color: #fff;
    }
    button:hover .icon-video{transform: scale(1.15);}
    .icon-video{
      width: vw(49px); height: vw(48px);
      background: url("#{$img-path}/play.svg") no-repeat 0 0/contain;
      margin-left: vw(20px); transition: .3s;
    }
  }
}

.modal{
  .close{position: absolute; top: 5px; right: 5px; font-weight: 400; z-index: 9;}
  video{height: 100%; width: 100%; object-fit: cover;}
  .modal-content{background: none; border: none;}
}
.modal-pc{
  .modal-dialog{max-width: vw(1610px); margin: vw(20px) auto;}
  .box-video{

  }
}
.modal-mobile{
  .modal-dialog{max-width: vw(500px); margin: vw(26px) auto;}
}

footer{
  padding: vw(60px) vw(126px) vw(82px); background: #9C9D95; color: #fff;
  .col{max-width: vw(615px); padding: 0; margin-right: vw(230px);}
  .logo{font-weight: 700; font-size: vw(30px); color: #fff;}
  .des{margin: vw(20px) 0 vw(30px); font-size: vw(20px); line-height: vw(38px);}
  .copyright{color: rgba(#fff, 0.87); font-size: vw(18px); font-weight: 300;}
  h4{margin-bottom: vw(15px); font-weight: 600; font-size: vw(20px); color: rgba(255, 255, 255, 0.87);}
  ul{
    >*+*{margin-top: vw(16px);}
    li{list-style: none;}
    a{color: rgba(#fff, 0.87); font-size: vw(20px);}
    a:hover{color: #fff;}
  }
}

@-webkit-keyframes rotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

//uikit
.pr{position: relative;}
.grid{display: grid;}
.txt-md{font-size: 18px; line-height: 24px;}
.txt-lg{font-size: 20px; line-height: 28px;}
button{
  cursor: pointer; border: none;
  &:focus{outline: none;}
}
.bg-white{background: #fff;}
h2.title{
  color: rgba(#000,.87);
  font-size: vw(55px);
  font-weight: 600;
  &::after{
    content: "";
    width: vw(112px); height: vw(15px); display: block;
    margin: vw(20px) auto 0;
    border-radius: 9999px;
    background: linear-gradient(#3fbf63 10%, #66eb8d 60.57%);
  }
}

@media (max-width: 1024px) {
  .automatic-packages{
    .check-list{
      max-width: 100%;
      p{font-size: 14px;}
    }
    .btn-choose{font-size: 16px;}
  }
}

@media (max-width: 769px) {
  .navbar{
    width: 100%; padding: vwt(44px) vwt(70px); justify-content: flex-start;
    .logo{
      width: vwt(301px); position: relative; z-index: 999;
      &.show{position: fixed;}
    }
    .navbar-toggler{display: block;}
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    position: fixed; left: 0; top: -100%;
    width: 100%; height: auto;
    background: #017eb1;
    border-radius: 0 0 53px 53px;
    transition: all .4s ease-out;
    z-index: 91; overflow: hidden;
    &.show{top: 0;}
  }
  .navbar-toggler{
    display: block;
    width: 20px;
    height: 25px;
    padding: 0;
    background: none; border: none;
    position: absolute; right: vwt(70px);
    span{
      display: block; width: 20px; height: 4px; border-radius: 3px 0 0 3px;
      background: #00C134; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 20px; height: 4px; background: #00C134; position: absolute; border-radius: 3px 0 0 3px;
    }
    span:before{top: -9px;}
    span:after{width: 14px; bottom: -9px; right: 0;}
  }
  .navbar-toggler.active{
    position: fixed; z-index: 999;
    span{width: 20px; transform: rotate(45deg); background: #fff;}
    span::after,span::before{background: #fff;}
    span:after{width: 20px; opacity: 0;}
    span:before{top: 0;  transform: rotate(90deg);}
  }
  .navbar-nav{
    width: 100%; margin: 0;
    flex-direction: column;
    margin-top: 55px;
    padding: vwt(80px) 0;
    >*+*{margin: 22px 0 0;}
    > li > a{text-align: center; font-size: 16px; color: #fff;}
    .active{
      color: #fff;
      &::after{background: #fff;}
    }
  }

  .automatic-intro{
    padding: vwt(40px) vwt(70px) vwt(20px);
    h1{margin-bottom: vwt(30px); font-size: vwt(28px); font-weight: 500;}
    p{font-size: vwt(22px);}
    .content{width: 100%; text-align: center;}
    .img-wrapper{
      width: 91%; margin: 0 auto 0;
      position: relative; top: 0; right: 0;
    }
  }
  .automatic-work{
    padding: 0 vwt(76px);
    .title{margin-bottom: vwt(40px);}
    .grid{
      grid-template-columns: repeat(1,1fr);
      grid-gap: vwt(36px);
    }
    .item{padding: vwt(8px) vwt(5px);}
    p{padding: vwt(8px) vwt(10px); font-size: vwt(25px);}
  }
  .automatic-packages{
    padding: vwt(50px) vwt(76px);
    .title{margin-bottom: vwt(78px);}
    .grid{grid-template-columns: repeat(1,1fr); grid-gap: vwt(66px);}
    .item{padding: vwt(46px);}
    .coin{
      width: vwt(74px); height: vwt(64px);
      img{width: vwt(50px);}
    }
    .price {
      width: vwt(100px);
      height: vwt(144px);
      text-align: center;
      right: vwt(88px); top: vwt(-35px);
      .lg{font-size: vwt(30px);}
      .sm{font-size: vwt(25px);}
      small{font-size: vwt(15px); white-space: normal;}
      &::after{
        border-bottom: vwt(28px) solid #fefefc;
        border-left: vwt(50px) solid transparent;
        border-right: vwt(50px) solid transparent;
      }
      &::before{
        width: vwt(49px); height: vwt(35px);
        left: vwt(-24px);
      }
    }
    h3{margin: vwt(52px) 0 vwt(40px); font-size: vwt(60px);}
    .check-list{
      >*+*{margin-top: vwt(30px);}
      p{flex: 1; padding-right: vw(15px); font-size: 16px;}
      .icon-yes{width: vwt(32px); height: vwt(18px);}
      .icon-no{width: vwt(29px); height: vwt(26px); margin-right: vwt(2px);}
      span{font-size: vwt(25px);}
      span small{font-size: vwt(16px);}
    }
    .btn-choose{
      max-width: vwt(406px); height: vwt(80px);
      margin: vwt(55px) auto 0;
      border-radius: vwt(16px);
      font-size: vwt(20px);
    }
  }
  .automatic-action{
    padding: vwt(20px) vwt(24px) vwt(105px); background: none; position: relative;
    &::after{
      content: "";
      width: 100%; height: vwt(834px);
      background: url("#{$img-path}/bg-dc-m.svg") no-repeat 0 0/contain;
      position: absolute; left: 0; bottom: vwt(-50px); z-index: -1;
    }
    .title{margin-bottom: vwt(16px);}
    .content{width: 90%; margin: 0 auto; text-align: center;}
    .des{font-size: vwt(30px); line-height: 1.6;}
    .box-btn{
      justify-content: center; margin-top: vwt(36px);
      >*+*{margin-left: vwt(34px);}
      button{height: vwt(76px); padding: 0 vwt(12px); font-size: vwt(25px); border-radius: vwt(5px);}
      .icon-video{width: vwt(41px); height: vwt(42px); margin-left: vwt(22px);}
    }
    .img-wrapper{width: 100%; margin-top: vwt(120px);}
  }

  .modal-pc{
    .modal-dialog{max-width: vwt(740px); margin: vw(20px) auto;}
  }
  .modal-mobile{
    .modal-dialog{max-width: vwt(600px); margin: vwt(16px) auto;}
  }

  footer{
    padding: vwt(50px) vwt(72px);
    .logo{font-size: vwt(30px);}
    .des{margin: vwt(22px) 0 vwt(34px); font-size: vwt(20px); line-height: 1.6;}
    .copyright{font-size: vwt(18px);}
    .col{max-width: 100%;}
    .col:nth-child(2){display: none;}
  }
  h2.title{
    font-size: vwt(30px);
    &::after{width: vwt(53px); height: vwt(8px); margin-top: vwt(10px);}
  }
}


@media (max-width: 480px){
  .navbar-toggler{
    span{height: 3px;}
    span:before,span:after{height: 3px;}
    span::before{top: -8px;}
    span::after{bottom: -8px;}
  }
  .automatic-packages .check-list{
    .icon{margin-top: 5px;}
    p{padding-right: 10px; font-size: 13px;}
  }
}